{% extends "base_generic.html" %}


{% block content %}
{% load static %}
	<!-- Hero section -->
	
    <section class="hero-section">
            <div class="hero-slider owl-carousel">
                <div class="hs-item set-bg" data-setbg="{% static "img/bg.jpg" %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7">
                                <span>New Arrivals</span>
                                <h2>Naviforce Montre Homme </h2>
                                <p>NAVIFORCE Montre Homme avec Fonction de chronométrage à 13 Chiffres, Affichage de l'heure, de la Date et du Jour, avec Mouvement analogique à Quartz et écran LCD Multifonction numérique </p>
                                <a href="#" class="site-btn sb-line">DISCOVER</a>
                                <a href="#" class="site-btn sb-white">ADD TO CART</a>
                            </div>
                        </div>
                        
                
                    </div>
                </div>
                <div class="hs-item set-bg" data-setbg="{% static "img/bg-2.jpg" %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 text-white">
                                <span>New Arrivals</span>
                                <h2>naviforce</h2>
                                <p>Montre Homme - Quartz Sport poignet Montre de Luxe Date de NAVIFORCE Men Day militaire Noir Brown. </p>
                                <a href="#" class="site-btn sb-line">DISCOVER</a>
                                <a href="#" class="site-btn sb-white">ADD TO CART</a>
                            </div>
                        </div>
                <!--	<div class="offer-card text-white">
                            <span>from</span>
                            <h2>$5</h2>
                            <p>SHOP NOW</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="slide-num-holder" id="snh-1"></div>
            </div>
        </section>
            
        
        <!-- Hero section end -->
    
    
    
        <!-- Features section -->
        <section class="features-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static "img/icons/1.png" %}" alt="#">
                            </div>
                            <h2>Fast Secure Payments</h2>   
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src=" {% static "img/icons/2.png" %}" alt="#">
                            </div>
                            <h2>just pay the shipping</h2>
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static "img/icons/3.png" %}" alt="#">
                            </div>
                            <h2>Free & fast Delivery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features section end -->
        <!-- Product filter section -->
        
        <section class="product-filter-section">
            <div class="container">
                <div class="section-title">
                    <h2>TOP SELLING PRODUCTS</h2>
                </div>
                
                <div class="row">
                {%for p in product %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">

                                    <a href="{{p.get_absolute_url}}"><img src="{{p.img.url}}"  alt="{{p.name}}"></a>
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                    <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>${{p.price}}</h6>
                                <p><a href="{{p.get_absolute_url}}">{{p.name}}</a></p>
                                

                            </div>
                        </div>
                    </div>
                    
                {%endfor%}
                </div>
                <div class="text-center pt-5">
                    <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                </div>
            </div>
        </section>
        <!-- Product filter section end -->
    
    
{% endblock %}